<h2><%= @post.title %></h2>

<div><%= @post.body %></div>
<small><%= @post.created_at%></small>

<form action="/posts/comment/<%= @post.id %>" method="POST">
    <p><textarea name="comment[body]"></textarea></p>
    <p><input type="submit" value="comment"></p>
</form>

<% @comments.each do |comment| %>
    <div><%= comment.body %></div>
<% end %>