var tb_loc = window.location.href;
var tb_date = new Date();
var tb_anchor = tb_loc.indexOf('#');

if(tb_anchor != -1) {
    tmp_anchor = tb_loc.substring(tb_anchor+1, tb_loc.length);
	tb_loc = tb_loc.substring(0, tb_anchor);
	tb_anchor = tmp_anchor;
}

var account_uid = '<%= @account.uid %>';

document.write('<h2>TwitBuddy Comments</h2>');

<% unless @user %>
    document.write('You will be prompted to sign in via Twitter');
    document.write('<br/>');
<% end %>

document.write('<h3>Write a new comment <% if @user %>as @<%= @user.username %><% end %></h3>');

document.write('<form method="POST" action="http://<%= @host %>/comments/new/<%= @account.uid %>">');
document.write('<textarea rows="5" cols="75" name="comment">Something</textarea>');
document.write('<input name="location" type="hidden" value="'+tb_loc+'"></input><br/>');
document.write('<input type="submit" value="comment"></input>');
document.write('<input name="tweet" type="checkbox" value="yes", checked="checked"></input> Tweet this comment');
document.write('</form>');

document.write('<div>');
<% @conversation.comments.reverse.each do |comment| %>
    <% if @user and comment.user == @user %>
        document.write('<p style="background-color:yellow">');
    <% else %>
        document.write('<p>');
    <% end %>
    document.write('<img src="<%= comment.user.avatar %>"/>');
    document.write('<b><%= comment.user.username %></b> ');
    document.write('<%= comment.message %>');
    document.write('<small><%= comment.created_at %></small>');
    document.write('</p>');
<% end %>
document.write('</div>');
